* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
  }
  
  a {
    color: inherit;
  }
  .section-heading h2 {
    margin-bottom: 8px;
    font-size: 32px;
    color: midnightblue;
  }